@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px 20px 0px;
  width: 100%;
  height: 95vh;
  background-image: url("/assets/images/imgHomePage/img/Santorini.jpeg");
  background-attachment: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 10px rgb(22, 109, 143);
}
.header h1 {
  font-family: "Kaushan Script", cursive;
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.5;
  color: rgb(215, 225, 232);
  opacity: 0.9;
}
.header h4 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 62px;
  color: rgb(83, 133, 176);
}

.header__title {
  margin-top: 95px;
  align-self: flex-start;
  margin-left: 70px;
}

.header__promo {
  margin-top: 100px;
}
.header__promo h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
  color: rgb(215, 225, 232);
  opacity: 0.7;
}

.header__nav {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  flex-direction: row;
}
.header__nav .header__logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-top: -2%;
}
.header__nav .header__logo img {
  width: 40%;
}
.header__nav .header__logo p {
  color: #FFFFFF;
  font-family: "Caesar Dressing", cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1em;
  margin-top: 10%;
}
.header__nav a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.header__nav a:hover,
.header__nav a:focus {
  color: rgb(20, 57, 95);
  outline: none;
}
.header__nav .header__button {
  width: 85px;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid white;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  margin-left: 90px;
  margin-top: -8px;
}

.header__line {
  position: absolute;
  top: 55px;
  background-color: white;
  opacity: 0.4;
  height: 5px;
  width: 100%;
}

.carousel-item img {
  width: 70em;
  height: 35em;
  padding: 0 3% 0 4%;
  box-shadow: 10px 10px 10px rgb(51, 134, 201);
}

.carousel-caption p {
  color: rgb(236, 230, 230);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
}

.carousel-caption h5 {
  color: rgb(239, 232, 232);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}

.main-section__destinations {
  padding-top: 6vh;
}
.main-section__destinations .section__destination {
  padding-top: 2vh;
  display: flex;
  gap: 2%;
  flex-direction: row;
  justify-content: center;
  padding-left: 1%;
}
.main-section__destinations .section__destination .destination-picture img {
  width: 15rem;
  height: 12rem;
  border-radius: 12px;
}

.section-head {
  padding-left: 3%;
}

.carousel-item img {
  width: 70em;
  height: 35em;
}

.carousel-caption p {
  color: rgb(236, 230, 230);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
}

.carousel-caption h5 {
  color: rgb(239, 232, 232);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
}

.main-section__activities {
  padding-top: 6vh;
}
.main-section__activities .section__activities {
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  padding-left: 1%;
}

.main-section__tours {
  padding-top: 6vh;
}
.main-section__tours .section__tours {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
  padding-left: 1%;
  padding-top: 2vh;
}
.main-section__tours .section__tours img {
  width: 20rem;
  height: 28rem;
  border-radius: 2%;
}
.main-section__tours .section__tours .tour-text {
  width: 20rem;
  height: 28rem;
}

.main-section__aboutus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.main-section__aboutus .aboutus-text {
  width: 30%;
  height: 45%;
  padding-top: 10vh;
}

.container-fluid {
  height: 10%;
  background-color: rgb(178, 208, 231);
  opacity: 0.7;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  padding-left: 1%;
}
h3 a {
  text-decoration: none;
  color: rgb(22, 20, 20);
}

h4 {
  padding-top: 1.5vh;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-left: 1%;
}

p {
  text-align: justify;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #979797;
}/*# sourceMappingURL=main.css.map */